httpx
streamlit
groq
pypdf
faiss-cpu
sentence-transformers
nltk
numpy
torch
transformers
fastapi-mcp
uvicorn
pyjwt
bcrypt
python-multipart
rank-bm25
python-dotenv
huggingface-hub
ragas
datasets
langchain-groq
langchain-huggingface
langgraph
langchain
langchain-community
crewai
crewai-tools
celery
redis
openai
anthropic
google-generativeai
motor
